<!-- NAVBAR JS -->

<div class="mynavbar">
  <div class="navbar-container">
    <%= image_tag 'avatar.png', class: 'navbar-image' %>
    <span class="navbar-name">CHARLY MARTIN</span>
  </div>
  <div class="navbar-container">
LOL
  </div>

</div>

<!-- HEADER -->

<div class="headline-container">
  <div class="container text-center">

    <div class="row">
      <div class="col-xs-12">

        <%= image_tag 'avatar.png', class: 'main-image' %>
        <h1 class="name"> CHARLY MARTIN </h1>
        <h2 class="tagline"> Rails developer  /  Fullstack  /  UI designer  /  SEO Expert </h2>

        <div class="cta-container">
          <a href="mailto:charly.martin.1207@gmail.com?subject=Hello Charly!">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span class=cta-email>email</span>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- SKILLS -->

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
      <div class="part" id="#about-me">
        <%= partial(:header, :locals => {:title => "ABOUT ME"}) %>
        <p class="part-content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eveniet enim voluptatem veritatis, esse totam perferendis. Ut eaque doloremque velit sit excepturi distinctio impedit ea ipsa id laborum. Earum, error? </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
      <div class="part-content">
        <%= partial(:header, :locals => {:title => "SKILLS"}) %>
        <div class="list">
          <span class="key">LANGUAGES:</span>
          <span class="attributes">Ruby, HTML, CSS, JavaScript</span>
        </div>

        <div class="list">
          <span class="key">FRAMEWORK & LIBRARIES:</span>
          <span class="attributes">Rails, JQuery, Bootstrap, SCSS</span>
        </div>

        <div class="list">
          <span class="key">DATABASE & ORM:</span>
          <span class="attributes">PostgreSQL, Active Record, SQL, SQLite</span>
        </div>

<!--           <div class="list">
          <span class="key">SKILLS:</span>
          <span>Responsive design, Data scraping, Email, Geolocation</span>
        </div>
-->
        <br>
        <br>

        <div>
          <p class="margin-top">If you're not familiar with the Rails framework, it's widespread on the web. Many web applications and interfaces run on it.</p>
          <p>For example: <a href="https://www.airbnb.com" target="_blank">Airbnb</a>, <a href="https://www.kickstarter.com" target="_blank">Kickstarter</a>, <a href="https://basecamp.com" target="_blank">Basecamp</a> or <a href="https://dribbble.com" target="_blank">Dribbble</a> (and originally <a href="https://twitter.com/" target="_blank">Twitter</a>) are all using this web framework.</p>
        </div>

      </div>
    </div>
  </div>

<!-- SOCIALS -->

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

      <%= partial(:header, :locals => {:title => "SOCIAL"}) %>
      <div class="social-links">
        <a id="linkedin" href="https://www.linkedin.com/in/charlymartin" target="_blank">
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a>

        <a id="github" href="https://github.com/charlymartin" target="_blank">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>

        <a id="twitter" href="https://twitter.com/charlymrtn1" target="_blank">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>

        <a id="instagram" href="https://www.instagram.com/charly.mrtn/" target="_blank">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
      </div>

    </div>
  </div>

</div>

<!-- PORTFOLIO -->

<!-- <div class="portfolio">PROJECTS I'M PROUD OF</div> -->

<!-- SITE 1 -->

<%= partial(:header, :locals => {:title => "PROJECTS"}) %>

<a href="http://www.hubsy.fr/" target="_blank" >
  <div class="wrapper-website" id="hubsy">
    <div class="container">
      <div class="row">

        <div class="col-md-2 col-md-offset-3 col-sm-4 col-sm-offset-1 col-xs-12">
          <div class="logo-container">
          <%= image_tag 'hubsy.png', class: 'logo' %>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="text-container">
            <h1 class="text-title">HUBSY CAFE & COWORKING</h1>
            <p class="text-description">Main features: admin interface, responsive design, emails management, dual-language, geolocation, photo upload</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

<!-- SITE 2 -->

<a href="http://theneedle.herokuapp.com/" target="_blank" >
  <div class="wrapper-website" id="dezimo">
    <div class="container">
      <div class="row">

        <div class="col-md-2 col-md-offset-3 col-sm-4 col-sm-offset-1 col-xs-12">
          <div class="logo-container">
          <%= image_tag 'marsot.png', class: 'logo' %>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="text-container">
            <h1 class="text-title">MARSOT</h1>
            <p class="text-description">Main features: user accounts, admin interface, Facebook connect, geolocation, sales funnel, time management, currency management, photo upload, messaging.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

</div>

<!-- <div class="portfolio"> THANKS! </div> -->
